extends layout.jade

block content
  .container-fluid     
    .row
      .col-md-6.pad-main
        h4.left.highlight The PPlanter is a project of 
        h2.left 
          a(href='http://hyphae.net') Hyphae Design Lab        
        p.lead.left Hyphae Design Laboratory is a consulting, design and engineering firm dedicated to bridging the gap between innovative architecture and applied biological sciences. Our company strives to bring site specific, community & ecologically-driven solutions to urban infrastructure challenges.             
        p.lead.left.button
          a.spaced(href='mailto:info@hyphae.net')
            i.fa.fa-envelope-o.fa-2x.highlight
          a.spaced(href='tel:+5109229355')
            i.fa.fa-phone.fa-2x.highlight
          a.spaced(href='http://hyphae.net')
            i.fa.fa-external-link.fa-2x.highlight
      .col-md-6

block bottom
  script.
    contactReady();