extends layout.jade

block content
  .container-fluid     
    .row
      .col-md-6.story-text
        h4.left PPlanter is a project of 
        h2.left 
          a(href='http://urbanbiofilter.org') Urban Biofilter in collaboration with 

          a(href='http://hyphae.net') the Hyphae Design Laboratory
     
        p.lead.left.highlight  Urban Biofilter is a non profit dedicated to integrating biological systems into our existing urban infrastructure. Urban Biofitler strives to bring site specific, community & ecologically-driven solutions to urban infrastructure challenges. Sister firm, the Hyphae Design Laboratory is a consulting, design and engineering office dedicated to bridging the gap between innovative architecture and applied biological sciences. 
        p.lead.left.button.link-highlight
          a.spaced(href='mailto:info@hyphae.net')
            i.fa.fa-envelope-o.fa-2x
          a.spaced(href='tel:+5109229355')
            i.fa.fa-phone.fa-2x
          a.spaced(href='http://hyphae.net')
            i.fa.fa-external-link.fa-2x
      .col-md-6

block bottom
  script.
    contactReady();