//- FOOTER
.container-fluid
  footer.mastfoot
    p.pull-right
      a(href='#') Back to top
    p
      |	&#169; 2015 
      a(href='http://urbanbiofilter.org') Urban Biofilter
      br
      | Built with         
      a(href='http://getbootstrap.com') Bootstrap 
      | by 
      a(href='http://anastasia.io') AV 
      | and 
      a(href='http://johnfaichney.com') JF
      br
     
      //- a(href='#') Privacy
      //- |  &middot; 
      //- a(href='#') Terms
