//- FOOTER
.container-fluid
  footer.mastfoot
    p.pull-right
      a(href='#') Back to top
    p
      |	&#169; 2015 
      a(href='mailto:info@hyphae.net') Hyphae Design Lab
      br
      |	Tel: 510.922.9355
      br
     
      //- a(href='#') Privacy
      //- |  &middot; 
      //- a(href='#') Terms
