//- FOOTER

footer.mastfoot
  .container-fluid
    p.pull-right.hidden-xs
      a(href='#') Back to top
    p.pull-right.visible-xs
      a(href='#')
        i.fa.fa-arrow-circle-o-up.fa-2x    
    p
      |	&#169; 2015 
      a(href='http://urbanbiofilter.org') Urban Biofilter
      br
      | Built with         
      a(href='http://getbootstrap.com') Bootstrap 
      | by 
      a(href='http://anastasia.io') AV 
      | and 
      a(href='http://johnfaichney.com') JF
      br
     
      //- a(href='#') Privacy
      //- |  &middot; 
      //- a(href='#') Terms
