extends layout.jade

block content
  .container-fluid     
    .row
      .col-lg-6.pad-main
        h2.left Urban sanitation for everyone! 
        |             
        h3.lead.left
          | PPlanter is a ecologically friendly street urinal that uses wastewater to support plant life in the city.            
        p.lead.left
        h1.lead.left
          a.carousel-control(href='story.html', role='button') Learn More 
            br 
            i.fa.fa-arrow-right.fa-2x
    .col-lg-6


    
        
block bottom
  script.
    indexReady();