extends layout.jade

block content
  .container-fluid     
    .row
      .col-lg-6.pad-main
        h2.left Urban sanitation for everyone
        |             
        h3.lead.left
          | PPlanter is a ecologically friendly street urinal that utiizes plants to neutralize the graywater collected.            
        p.lead.left
          a.btn.btn-lg.btn-default(href='story.html') Learn more
      .col-lg-6
    

        
block bottom
  script.
    indexReady();