doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='AV')
    //- link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Pplanter
    //- // Bootstrap core CSS
    //- link( rel='stylesheet' , href='css/bootstrap.min.css')
    //- // Font-awesome
    link( rel='stylesheet' , href="css/font-awesome.min.css")
    //- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //- if lt IE 9
    script(src='js/html5shiv.min.js')
    script(src='js/respond.min.js')
    //- Custom stylesheet
    link(href='css/build.css', rel='stylesheet')
  
  body
    .site-wrapper
        .site-wrapper-inner    
            include navbar.jade
            block content                
    include footer.jade

    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='js/jquery.min.js')     
    script(src='js/bootstrap.min.js')
    script(src='js/snap.svg-min.js')
    script(src='js/jquery.carousel.fullscreen.js')        
    script(src='js/pplanter.js')   
    block bottom     
    //- script(src='/js/holder.js')
