//- Navigation bar at top of page
.masthead.clearfix
  .inner
    h2.masthead-brand 
      a(href='index.html' src="") PPLANTER
    |               
    nav.navbar-static-top
      ul.nav.masthead-nav
        li.active
          a(href='story.html') Our Story
        | 
        li                           
          a(href='project.html') How It Works
        |                            
        li
          a(href='contact.html') The Team