extends layout.jade

block content
  .container-fluid     
    .row
      .col-md-6.pad-main(id="press")
        h1.left Find us in the press
        h3.left 
          a(href='http://hyphae.net') The NY Times 
              //- Description     
        p.lead.left.highlight The pplanter was featured as a blah blah ... 

        h3.left 
          a(href='http://hyphae.net') The Huff post 
              //- Description     
        p.lead.left.highlight The pplanter was featured as a blah blah ...          

        h3.left 
          a(href='http://hyphae.net') The Chronicle 
              //- Description     
        p.lead.left.highlight The pplanter was featured as a blah blah ...          






      .col-md-6

block bottom
  script.
    contactReady();