extends layout.jade

block content
  .container-fluid
    
    .row
      .col-md-12.svg-container
          include ../content/img/pplanter_diagram4.svg
          ul#overlays
            li.svg-overlay#freshwater_overlay(style={top: '40%', left: '75%'}) freshwater is filled from the tank and used for handwashing. the water from the sink then flows through the urinal, cleaning it.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay#urinal_overlay(style={top: '10%', left: '50%'}) THE URINAL  as the urinal is used, the gray water ..Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay#sink_overlay(style={top: '60%', left: '70%'}) SINK Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            li.svg-overlay#pump_overlay(style={top: '80%', left: '58%'}) HAND PUMP Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay#plants_overlay(style={top: '35%', left: '15%'}) PLANTS Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay#blackwater_overlay(style={top: '80%', left: '20%'}) BLACKWATER Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        
          
block bottom
  script.
    projectReady();