extends layout.jade

block content
  .container-fluid
    
    .row
      .col-md-12.svg-container
          include ../img/pplanter_diagram4.svg
          .svg-overlay.dark#info_overlay(style={top: '10%', left: '3%'}) Click on different parts of the diagram to learn more!
            h1.lead.left
              a.carousel-control(href='system.html', role='button') Additional info 
                br 
                i.fa.fa-arrow-right.fa-2x          

          ul.hidden-xs#overlays
            li.svg-overlay.hidden#info_overlay(style={top: '35%', left: '5%'}) What is this? 
            li.svg-overlay.hidden#freshwater_overlay(style={top: '40%', left: '75%'}) WATER TANK: the tank is periodically filled with fresh water for handwashing. Greywater from the sink then flows through the urinal, rinsing and minimizing odors.
            li.svg-overlay.hidden#urinal_overlay(style={top: '5%', left: '60%'}) URINAL: when the urinal is used, urine and greywater combine and are pumped out to a series of planters.

            li.svg-overlay.hidden#sink_overlay(style={top: '65%', left: '73%'}) SINK: the hinged sink folds up for easy transportation.

            li.svg-overlay.hidden#pump_overlay(style={top: '80%', left: '58%'}) HAND PUMP: an accessible lever, operable by hand or elbow pumps water from the tank to the sink.
            li.svg-overlay.hidden#plants_overlay(style={top: '50%', left: '5%'}) PLANTS: plants convert nutrients into biomass and evapotranspire excess water.

            //- li.svg-overlay.hidden#blackwater_overlay(style={top: '80%', left: '20%'}) BLACKWATER Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        

    .row.visible-xs.popover
      .col-md-12
          ul#overlays
            li.svg-overlay.hidden#info_overlay(style={top: '35%', left: '5%'}) PLANTS Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay.hidden#freshwater_overlay(style={top: '40%', left: '75%'}) freshwater is filled from the tank and used for handwashing. the water from the sink then flows through the urinal, cleaning it.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay.hidden#urinal_overlay(style={top: '5%', left: '60%'}) THE URINAL  as the urinal is used, the gray water ..Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay.hidden#sink_overlay(style={top: '65%', left: '73%'}) SINK Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            li.svg-overlay.hidden#pump_overlay(style={top: '80%', left: '58%'}) HAND PUMP Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.svg-overlay.hidden#plants_overlay(style={top: '50%', left: '5%'}) PLANTS Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        



block bottom
  script.
    projectReady();