extends layout.jade

include navbar.jade
block content
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
      li(data-target='#myCarousel', data-slide-to='5')
      li(data-target='#myCarousel', data-slide-to='6')        
                        

    .carousel-inner(role='listbox')
      .item.active
        img.first-slide(src='img/pplanter_story01.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 The problem.
            h3.light
              | Something about the amount of pee on the streets in urban areas, especially parts of San Francisco....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h1
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') Our solution
                br 
                i.fa.fa-arrow-right.fa-2x
      

      .item
        img.second-slide(src='img/pplanter_story02.jpg', alt='Second slide')
        .container
          .carousel-caption
            h1 Urban prototyping solutions: Pplanter 3.0
            h3.light
              | Description of version 3.0...brief project overview....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') Our design process
                br
                i.fa.fa-arrow-right.fa-2x
      

      .item
        img.third-slide(src='img/pplanter_story03.jpg', alt='Third slide')
        .container
          .carousel-caption
            h1 Iterative design.
            h3.light
              | Something about the design process... sketching, digital.physical models...mockups ....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') How we built it
                br
                i.fa.fa-arrow-right.fa-2x
    

      .item
        img.forth-slide(src='img/pplanter_story04.jpg', alt='Forth slide')
        .container
          .carousel-caption
            h1 Materials and Construction.
            h3.light
              | Something about testing different construction/material systems...can include more about 1.0 and 2.0 here....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') On the streets
                br
                i.fa.fa-arrow-right.fa-2x


      .item
        img.fifth-slide(src='img/pplanter_story05.jpg', alt='Fifth slide')
        .container
          .carousel-caption
            h1 Street trials and signage.
            h3.light
              | Signage and visual design, education...affordances....Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') User experience
                br
                i.fa.fa-arrow-right.fa-2x


      .item
        img.sixth-slide(src='img/pplanter_story06.jpg', alt='Sixth slide')
        .container
          .carousel-caption
            h1 User experience and usability testing.
            h3.light
              | Something about user experience... gender neutrality... privacy...also sensor feedback data...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='#myCarousel', role='button', data-slide='next') Community feedback
                br
                i.fa.fa-arrow-right.fa-2x


      .item
        img.seventh-slide(src='img/pplanter_story07.jpg', alt='Sixth slide')
        .container
          .carousel-caption
            h1 Community engagement??
            h3.light
              | Something about engaging the community with trials and community paticipatory design..may not need this one...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

            h2
              a.carousel-control(href='project.html', role='button', data-slide='next') Learn about how it works
                br
                i.fa.fa-arrow-right.fa-2x










    //- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    //-   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    //-   span.sr-only Previous
    //- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    //-   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    //-   span.sr-only Next       

        
block bottom
  script.
    storyReady();