extends layout.jade

block content
  .container-fluid     
    .row
      .col-md-6.pad-mid
        h2.left System        
        p.lead.left.highlight Natural metabolic processes in the body produce ammonia, which can be toxic in high concentrations. To manage and dispose of this waste, our bodies combine ammonia and carbon dioxide to produce urea which is a non toxic, odorless, colorless and water soluble. We excrete this urea on a daily basis in the form of urine, which is about 95% water, 3-4% urea and 1-2% salts, proteins and other waste elements that cause daily changes in odor and coloration (from things like asparagus). When urea is exposed to oxygen it releases the ammonia and carbon dioxide. Volatile ammonia produces the not so pleasant odor we associate with urine on the street. Urea is one of the densest ways to transport nitrogen, which is vital to plant growth. Urea has become the dominant agricultural fertilizer, supplying about 90% of global agricultural products.            
      .col-md-6.pad-mid
        p.lead.left.highlight  Pplanter represents the hydrologic and nutrient cycles that support life on Earth. Greywater from the sink and urine are stored in anaerobic conditions (so ammonia is not released) and then pumped out to the planters. For ideal decomposition conditions, the carbon to nitrogen ratio should be 50:1. Since urine is about 10:1, we add carbonaceous material to the planters. Planter media is a combination of wood chips, straw, and pectin coated styrofoam to make it lightweight and movable. A small amount of lava rock provides drainage at the bottom.

        p.lead.left.highlight  Plants convert the nitrogen and phosphorus minerals into biomass, in the form of leaves and stalks. The water is consumed and evapo transpired by the plants. Other elements, like proteins, and carbohydrates are consumed by bacteria in the soil. The one thing neither plants, nor bacteria really like are the salts exerted in our urine. To combat this, we periodically take the planters offline for a few months. We also trim the plants, removing biomass, chip it and add this carbon rich material back to the planters to start the process again. The urinal has a fragrant soapy smell from the sink water additionally, charcoal air filters reduce urine odor and mulch and microbes also contribute to air filtration in the planters.   



block bottom
  script.
    systemReady();